html {
  overflow-x: hidden;
  font-size: 1em; 
}

body {
  font-family: "Work Sans", Arial, sans-serif; 
}

input, textarea, p {
  font-weight: 300; 
}

::-moz-selection {
  background: #000;
  color: #fff; 
}

::selection {
  background: #000;
  color: #fff; 
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300 !important; 
}

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; 
}